services:
  web:
    build: .
    container_name: mywebsite
    env_file: .env
    environment:
      PGSERVICEFILE: /home/app/.pg_service.conf
    depends_on:
      - db
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
      - ./.pg_service.conf:/home/app/.pg_service.conf
      - ./.website_pgpass:/home/app/.website_pgpass
    restart: unless-stopped
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - .venv/
        - action: rebuild
          path: ./uv.lock
    command: >
      sh -c "
        uv run manage.py migrate &&
        uv run manage.py collectstatic --noinput &&
        uv run gunicorn website.wsgi:application --bind 0.0.0.0:8000
      "

  db:
    image: postgres:latest
    secrets:
      - db_password
    env_file: .env
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped

  nginx:
    image: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/uploads
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    depends_on:
      - web
    networks:
      - default

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt
    entrypoint: >
      sh -c "trap exit TERM; while :; do 
        sleep 12h & wait $${!}; 
        certbot renew --webroot --webroot-path=/var/www/certbot;
      done"
    restart: unless-stopped

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  default:
    name: idachserblog_default

secrets:
  db_password:
    file: ./secrets/db_password
