:root {
    --font-family: "JetBrains Mono", monospace;
    --font-optical-sizing: auto;
    --font-weight: 400;
    --font-style: normal;
    --body-size: 50rem;
    --main-color-light: #dedede;
    --main-color-dark: #161616;
    --secondary-color: #CF0000;
    --text-color-light: #161616;
    --text-color-dark: #dddddd;
    --secondary-text-light: #545454;
    --links-color: #ff6f06;
    --codeblock-bg-color-dark: #252525;
}

/* Common styles */
* {
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    max-width: var(--body-size);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0;
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

body.dark {
    background-color: var(--main-color-dark);
    color: var(--text-color-dark);
}

body.dark img,
body.dark .icon a::after {
    filter: invert(80%);
}

body.dark a {
    color: var(--text-color-dark);
}

body.dark a:hover {
    color: var(--links-color);
}

body.dark a::after {
    filter: invert(0.8);
}

body.dark .link {
    color: var(--links-color);
}

body.dark .link:hover {
    color: var(--secondary-color);
}

body.dark .codehilite {
    background: var(--codeblock-bg-color-dark);
}

main {
    flex: 1 0 auto;
}

hr {
    border: none;
    border-top: 2px dashed var(--secondary-text-light);
}

h2::before {
    content: "## ";
    font-size: 18px;
    color: var(--secondary-color);
}

h3::before {
    content: "### ";
    color: var(--secondary-color);
}

h4::before {
    content: "#### ";
    color: var(--secondary-color);
}

h5::before {
    content: "##### ";
    color: var(--secondary-color);
}

ul {
    line-height: 1.6;
}

li {
    list-style-type: "- ";
    margin: 0 0 0 0.5em;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 80ch;
    margin: 1em 0;
    text-align: left;
    hyphens: auto;
    word-break: keep-all;
}

a {
    color: var(--text-color-light);
    text-decoration: none;
    border-bottom: solid 2px var(--secondary-color);
    transition: color 0.2s;
}

a.dark {
    color: var(--text-color-dark);
}

a:hover {
    color: var(--links-color);
    border-color: var(--secondary-text-light);
}

a::after {
    content: url("/static/icons/arrow-up-right-from-square-solid-full.svg");
    display: inline-block;
    white-space: nowrap;
    width: 15px;
    height: 15px;
    margin: 0 0 0 0.5em;
}

blockquote {
    padding-left: 10px;
    border-left: solid 3px;
    color: var(--secondary-color);

    p {
        color: var(--secondary-text-light);
    }
}


.card {
    margin-bottom: 40px;
}

.article-title {
    margin-bottom: 0;
}

.article-name {
    text-decoration: none;
    margin-bottom: 0;
    border: none;
    transition: color 0.2s;
}

.article-name::after {
    content: none;
}

.article-name:hover {
    color: var(--links-color);
}

.pub {
    display: flex;
    justify-content: flex-start;

    p {
        font-size: 1rem;
        margin: 0;
        color: var(--secondary-text-light);
    }
}

.pub-info::before {
    content: "|";
    margin: 0 0 0 0.5em;
}

.desc {
    margin-top: 0;
}

.tags {
    margin: 20px 0;
}

.tags::before {
    content: "---------------------------------------"
        "--------------------------------------------";
    display: block;
    left: 0;
}

.tags p {
    display: inline;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 20px;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn {
    border: none;
}

.btn::after {
    content: none;
}

.link {
    font-weight: bold;
    text-decoration: none;
    color: var(--links-color);
    border: none;
}

.link:hover {
    color: var(--secondary-color);
}

.icon {
    width: 30px;
    height: 30px;
}

.icon:hover {
    cursor: pointer;
    filter: invert(30%);
}

/* Page title */
h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

.title::after {
    content:
        "========================================="
        "==========================================";
    display: block;
    left: 0;
}

h2 {
    font-size: 26px;
}


footer {
    flex-shrink: 0;
    text-align: center;
}
