:root {
    --font-family: "JetBrains Mono", monospace;
    --font-optical-sizing: auto;
    --font-weight: 400;
    --font-style: normal;
    --body-size: 50rem;
    --main-color-light: #dedede;
    --main-color-dark: #161616;
}

body {
    font-family: var(--font-family);
    font-optical-sizing: var(--font-optical-sizing);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    max-width: var(--body-size);
    margin: 0 auto;
    padding: 20px 10px;
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
}

.icon {
    width: 30px;
    height: 30px;
}

.link {
    width: 15px;
    height: 15px;
}
