{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}
{% block page_title %}<h1>{{ post.title }}</h1>{% endblock page_title %}

{% block post %}
<p class="pub">{{ post.publish_date }}</p>
<p>{{ post.body|safe }}</p>
{% if post.tags.all %}
<div class="tags">
    {% for tag in post.tags.all  %}
    <a class="nav-btn" href="/">
        {{ tag.name }}
        <img class="icon link" src="{% static "icons/arrow-up-right-from-square-solid-full.svg" %}">
    </a>
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock post %}
