{% extends "base.html" %}
{% load static %}

{% block posts %}
<div>
    {% for post in posts %}
    <h2 class="article-title">
        <a class="article-name" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
    </h2>
    <div class="pub">
        <p>{{ post.publish_date }}</p>
        <span class="pub-info">Published by {{ post.author }}</span>
        {% if post.tags.all %}
        <span class="pub-info">
            {% for tag in post.tags.all %}
            <span>{{ tag }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
        {% endif %}
    </div>
    <p class="desc">{{ post.description }}</p>
    <a class="nav-btn" href="{% url 'post_detail' post.slug %}">
        <span>Read More</span>
        <img class="icon link" src="{% static "icons/arrow-up-right-from-square-solid-full.svg" %}">
    </a>
    {% endfor %}
{% endblock %}
