{% extends "base.html" %}
{% load static %}

{% block posts %}
<div>
    {% for post in posts %}
    <div class="card">
    <h2 class="article-title">
        <a class="article-name" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
    </h2>
    <div class="pub">
        <p>{{ post.publish_date }}</p>
        {% if post.tags.all %}
        <p class="pub-info">
        {% for tag in post.tags.all %}
        <span>{{ tag }}</span>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </p>
        {% endif %}
    </div>
    <p class="desc">{{ post.description|safe }}</p>
    <a class="link" href="{% url 'post_detail' post.slug %}">Read More</a>
    </div>
    {% endfor %}
{% endblock %}
