{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.title }}{% endblock title %}
{% block page_title %}<h1>{{ post.title }}</h1>{% endblock page_title %}

{% block post %}
<div class="pub">
    <p>{{ post.publish_date }}</p>
    {% if post.tags.all %}
            <p class="pub-info">
            {% for tag in post.tags.all %}
            <span>{{ tag }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
    {% endif %}
</div>
<p>{{ post.body|safe }}</p>
{% if post.tags.all %}
<div class="etc">
    <p>Tags: </p>
    {% for tag in post.tags.all  %}
    <a class="link" href="{% url 'tagged_posts' tag.name %}">{{ tag.name }}</a>
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
</div>
{% endif %}
{% endblock post %}
