{% load static %}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF=8"/>
    <title>{% block title %}idachser.blog{% endblock title %}</title>
        <script>
        (function() {
            try {
                const theme = localStorage.getItem("theme");
                if (theme === "dark") {
                    document.documentElement.classList.add("dark");
                }
            } catch (e) {}
        })();
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/gruvbox_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/toggle_theme.js' %}" defer></script>
</head>

<body>
    {% include "header.html" %}
    <main>
        <section class="title">
            {% block page_title %}<h1>idachser.blog</h1>{% endblock page_title %}
        </section>
    {% block posts %}{% endblock posts %}
    {% block post %}{% endblock post %}
    {% block tags %}{% endblock tags %}
    {% block about %}{% endblock about %}
    </main>
    <footer><span>© idachser {{ date_now|date:"Y" }}<span></footer>
</body>

</html>
