{% load static %}
{% block header %}
<header>
    <nav class="nav">
        <a class="nav-btn" href="/">
            <span>home</span>
            <img class="icon link" src="{% static "icons/arrow-up-right-from-square-solid-full.svg" %}">
        </a>
        <a class="nav-btn" href="/tags">
            <span>tags</span>
            <img class="icon link" src="{% static "icons/arrow-up-right-from-square-solid-full.svg" %}">
        </a>
        <a class="nav-btn" href="/about">
            <span>about</span>
            <img class="icon link" src="{% static "icons/arrow-up-right-from-square-solid-full.svg" %}">
        </a>
    </nav>
    <div class="links">
        <a class="btn">
            <img class="icon" src="{% static "icons/circle-half-stroke-solid-full.svg" %}">
        </a>
        <a class="btn">
            <img class="icon" src="{% static "icons/square-github-brands-solid-full.svg" %}">
        </a>
        <a class="btn">
            <img class="icon" src="{% static "icons/square-rss-solid-full.svg" %}">
        </a>
    </div>
</header>
{% endblock header %}
