{% load static %}
{% block header %}
<header>
    <nav class="nav">
        <a class="link" href="/">home</a>
        <a class="link" href="/tags">tags</a>
        <a class="link" href="/news">news</a>
        <a class="link" href="/about">about</a>
    </nav>
    <div class="btns">
        <a class="btn" onclick="ToggleTheme()" title="Toggle theme">
            <img class="icon" src="{% static "icons/circle-half-stroke-solid-full.svg" %}">
        </a>
        <a class="btn" href="https://github.com/idachser">
            <img class="icon" src="{% static "icons/square-github-brands-solid-full.svg" %}">
        </a>
        <a class="btn" href="{% url 'posts_feed' %}">
            <img class="icon" src="{% static "icons/square-rss-solid-full.svg" %}">
        </a>
    </div>
</header>
{% endblock header %}
